<!DOCTYPE html>
<html>
  <head>
    <title>Rails and React II: A real use case</title>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One|Average+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="main_wrapper">
    <%= yield %>
    </div>
    <footer id='main_footer'>
      <small>
        Crafted with ♥ by
        <a href="http://twitter.com/bigardone" target="_blank">bigardone</a>
        <br/>
        Check out the
        <a href="https://github.com/bigardone/rails_and_react/tree/feature/part_two" target="_blank">source code</a>
      </small>
    </footer>
  </body>
</html>
